modules = ["nodejs-20", "web"]
run = "npm run dev"
entrypoint = "index.html"

[deployment]
deploymentTarget = "autoscale"
build = ["sh", "-c", "npm ci && npm run build"]
run = ["sh", "-c", "npm start"]

[[ports]]
localPort = 5000
externalPort = 80

[nix]
channel = "stable-25_05"
